@charset "UTF-8";
body {
    width: 100%;
    background: #fff;
    font-family: "Helvetica", "Microsoft Yahei";
    font-size: 14px;
    line-height: 1.5;
    color: #424242;
    /*-webkit-user-select: none;*/ /* 禁止选中 */
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;/* 移动端取消touch高亮效果 */
    outline: none;
    position: static;
}

button,
input,
select,
textarea {
    font-family: "Helvetica", "Microsoft Yahei";
}

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
a,
p,
blockquote,
table,
th,
td,
header,
hgroup,
nav,
section,
article,
aside,
footer,
figure,
figcaption,
menu,
button,
img {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
    list-style-image: none;
    resize: none;
}

img {
    border: 0;
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

img,
object,
select,
input,
textarea,
button {
    vertical-align: middle;
    box-sizing: content-box;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}

abbr[title],
acronym[title] {
    border-bottom: 1px dotted;
    cursor: help;
}


/* user agent stylesheet */

textarea:disabled,
input:not([type]):disabled,
input[type="color"]:disabled,
input[type="date"]:disabled,
input[type="datetime"]:disabled,
input[type="datetime-local"]:disabled,
input[type="email"]:disabled,
input[type="month"]:disabled,
input[type="password"]:disabled,
input[type="number"]:disabled,
input[type="search"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled,
input[type="time"]:disabled,
input[type="url"]:disabled,
input[type="week"]:disabled {
    background-color: #fff;
}
/* 移除iOS上输入框默认有内部阴影 */
input,
textarea {
　　border: 0; 
　　-webkit-appearance: none; /* 可能引起安卓4.4以下版本checkbox隐藏，解决方案：用div代替checkbox */
}
button{
    cursor: pointer;
    &[disabled]{        
        cursor: not-allowed;
    }
}
/**************************** 全局样式 ****************************/
#app{
    .w310{width: 310px;}
    .w300{width: 300px;}
    .w270{width: 270px;}
    .w240{width: 240px;}
    .w200{width: 200px;}
    .w188{width: 188px;}
    .w150{width: 150px;}
    .w120{width: 120px;}
    .w110{width: 110px;}
    .w90{width: 90px;} 
    .w20{width: 20px;}   
}
