
/**************************** 文本颜色 ****************************/ 
$l: #212121;
$m: #7e7e7e;
$s: #ccc;
/**************************** 黑白灰 ****************************/ 
$black: #000;
$white: #fff;
$gray: #f9f9f9;
$darkgray: #757575;
/**************************** red：红 ****************************/ 
$red: #FF7A6F;
$red_hov: #F43838;
$red_act: #FF7A6F;
$red_dis: rgba(255,122,111,0.5);
$bg_red: #FF7A6F;
$bg_red_hov: #FF877D;
$bg_red_act: #F56262;
$bg_red_dis: #FFBCB7;

/**************************** green：绿 ****************************/ 
$green: #42cfc6;
$darkGreen: #00c853;

/**************************** blue：蓝 ****************************/ 
//$blue: #36AEDB;
$blue: #40bdec;
$blue_hov: #45C9FB;
$blue_act: #36AEDB;
$blue_dis: rgba(54,174,219,0.5);
$bg_blue: #40BDEC;
$bg_blue_hov: #45C9FB;
$bg_blue_act: #36AEDB;
$bg_blue_dis: #9fdef5 ;

$sky: #40bdec;
$darkBlue: #387ABE;
/**************************** orange：橘 ****************************/
$orange: #ff6f40;
/**************************** yellow：黄 ****************************/ 
$yellow: #fdd835;

/**************************** repeat ****************************/ 
$aaa: #aaa;
$bbb: #bbb;
$ccc: #ccc;
$ddd: #ddd;
$eee: #eee;
$fff: #fff;
$c000: #000;
$c111: #111;
$c222: #222;
$c333: #333;
$c444: #444;
$c555: #555;
$c666: #666;
$c777: #777;
$c888: #888;
$c999: #999;
/**************************** simple ****************************/ 
$c40: #404040;
$c75: #757575;



// qwk篇
// 主色调
// primary
$bg_btn:#40bdec;
$bg_btn_hover:#45c9fb;
$bg_btn_click:#36aedb;
$bg_btn_disabled:#9fdef5;
